.Main {
  display: flex;
}

.ContainerQuestionAndCategory {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  min-height: 291px;
  padding: 10px;
  position: relative;
  width: 296px;
}

.ContainerQuestionAndCategory p {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 35px;
}

.ContainerCategory {
  align-items: center;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  min-height: 48px;
  padding: 5px;
  width: 273px;
}

.ContainerQuestion {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.ContainerQuestion p {
  padding: 4px 0;
}

.ContainerCategory p {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 29px;
  text-align: center;
}

.ContainerAnswer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.AnswerButton {
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  min-width: 450px;
}

.Timer {
  bottom: -40px;
  color: red;
  position: absolute;
}

.ButtonNext {
  background-color: transparent;
  bottom: -50px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  position: absolute;
  width: 100px;
}

.correct-answer, .correct-answer:disabled {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
  color: white;
}

.wrong-answer, .wrong-answer:disabled {
  background-color: red;
  border: 3px solid red;
  color: white;
}
